<div class="bg-gray-50 h-screen w-screen  items-center justify-center">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block pb-5">Ready to ride?</span>
      <span class="block text-red-600">Start your Rails way today.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a href="https://guides.rubyonrails.org/getting_started.html" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-red-600 hover:bg-red-700"> Get started </a>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="https://rubyonrails.org/" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-red-600 bg-white hover:bg-red-50"> Learn more </a>
      </div>
    </div>
  </div>
  <div class="container items-center max-w-4xl px-5 mx-auto mt-16 text-center">
        <img src="https://cdn.devdojo.com/images/november2020/hero-image.png" class="">
  </div>
</div>